.center {
    display: flex;
    max-width: var(--tamanho-maximo);
    margin: var(--margem);
    padding: var(--magem-esquerda);
    flex-wrap: wrap;
}

.faixa-azul {
    width: 100%;
    background-color: var(--azul);
    color: var(--azul);
}

header h2 span {
    color: var(--vermelho);
}

header h2 {
    font-size: var(--tamanho-de-h2);
    color: var(--preto-medio);
    border: solid 3px var(--vermelho);
}

.display-logo {
    width: var(--lagura-toda);
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: var(distancia-topo);
    width: 200px;
}

.agenda {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100px;
    background-color: var(--prata);
    position: relative;
    margin-right: rem;
    border-radius: 10px;
}

.agenda:hover {
    box-shadow: 10px 10px var(--preto-medio);
    text-shadow: 2px 2px var(--preto-medio);
}

.agenda-text {
    font-size: larger;
    padding-right: .5rem;
    padding-top: 3rem;
    color: var(--vermelho);
}

.agenda-text:hover {
    color: var(--vermelho);
}

@media (max-width: 860px) {
    .faixa-vermelha {
        width: 100%;
        background-color: var(--vermelho);
        color: var(--vermelho);
    }
    .agenda-text {
        font-size: 10px;
        padding-right: .5rem;
        padding-top: 1rem;
        color: var(--vermelho);
    }
    .logo {
        width: 100px;
    }
    .display-logo {
        padding: 20px 0;
    }
    .logo {
        margin-top: var(distancia-topo);
    }
    header h2 {
        font-size: 20px;
    }
    .agenda img {
        width: 55px;
        height: 50px;
    }
    .agenda {
        width: 40%;
        height: 90px;
    }
    .faixa-vermelha {
        color: var(--branco);
    }
}